<h3>Play</h3>

<div class="container">
  <h3 class="text-center">Play Rock, Paper Scissors!<br></h3>
</div>
<div class="container">
  <div class="column panel panel-default pull-left">
      <div class="panel-heading text-center">
        <h3 class="panel-title">You<br></h3>
      </div>
      <div class="panel-body">
        <%= image_tag("paperL.jpg", class: "pull-left", id: "player_img") %>
      </div>
  </div>
  <div id="moves" class="panel panel-default pull-left column-moves">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Select Move<br></h3>
    </div>
    <ul>
      <li>
        <%= image_tag("rockBtn.jpg", height: 55, width: 55) %>
      </li>
        <%= image_tag("handBtn.jpg", height: 55, width: 55) %>
      </li>
        <%= image_tag("scissorsBtn.jpg", height: 55, width: 55) %>
      </li>

    </ul>
    <div class="button" style="padding-top: 60px;">
      <%= image_tag("rockBtn.jpg", height: 55, width: 55) %>
    </div>
    <div class="button">
      <%= image_tag("handBtn.jpg", height: 55, width: 55) %>
    </div>
    <div class="button">
      <%= image_tag("scissorsBtn.jpg", height: 55, width: 55) %>
    </div>

  </div>

  <div class="column panel panel-default pull-left">

  <div class="panel-heading text-center">
    <h3 class="panel-title">Opponent</h3>
  </div>
  <div class="panel-body">&nbsp;
    <%= image_tag("paperR.jpg", class: "pull-left", id: "opponent_img") %>
  </div>
</div></div>